<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code</title>
  <meta name="description" content="Brief description of the page content">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://www.example.com/authoritative-page/">
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Brief description of the page content">
  <meta property="og:image" content="https://www.example.com/image.jpg">
  <meta property="og:url" content="https://www.example.com/page">
  <meta property="og:type" content="website">
  <link rel="icon" type="image/x-icon" href="/static/image/qr_logo.png">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/static/js/qr_tailwind_config.js"></script>
  
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  

  
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 
 
  <link rel="stylesheet" href="/static/css/qr_style.css">
  <script src="/static/js/qr_jquery.js"></script>
  
    <script type="text/javascript">
		if (window.history.replaceState){
			window.history.replaceState(null,null,window.location.href);
		}
	</script>
  </head>
  <body>
	<div class="max-w-screen-xl min-h-screen  mx-auto flex justify-center items-center p-5">
		<div class=" w-full lg:w-1/2 p-6 shadow rounded">
		<h1 class="text-center text-2xl font-bold text-gray-500">Create Your QR Code</h1>
			<form method="post"  >
				{% csrf_token %}
				
				<div class="my-4">
					<p>Enter Your Name:</p>
					<input type="text" name="name" class="border w-full p-2" placeholder="Mr/Mis xxxxxxx" required>
				</div>
				
				<div class="my-4">
					<p>Enter Your Phone Number:</p>
					<input type="text" name="phone" class="border w-full p-2" placeholder="+91 0123456789"  required>
				</div>
				

				
				<div class="my-4">
					<p>Enter Social Media Link:</p>
					<input type="url" name="link" class="border w-full p-2" placeholder="https:// www.example.com/"  required>
				</div>
				
				<input type="submit" class=" w-full cursor-pointer p-1 font-semibold shadow bg-gray-100 hover:text-black hover:bg-gray-200" value="Generat QR Code" >
			</form>
		
		
<div class=" mx-auto">
{% if image %}
	<h1 class="text-center mt-5 text-2xl font-bold"> Generated QR Code</h1>	
    <div class="flex justify-center w-full">
      <div class="w-full flex flex-col justify-center">
          <img class="shadow-xl w-20 h-20 mx-auto my-5" src="data:image/png;base64,{{ image }}" alt="QR Code">
          <div class="w-full">
            <button class="bg-gray-200 border p-2 w-full rounded font-bold hover:text-gray-700 hover:bg-gray-300" onclick="downloadQR()">Download</button>
          </div>
      </div>
    </div>
    
 {% endif %}
  </div>
</div>  
  <script>
    function downloadQR() {
      const link = document.createElement('a');
      link.href = 'data:image/png;base64,{{ image }}';
      link.download = 'qr_code.png';
      link.click();
    }

/*    function shareQR() {
      const dataUrl = 'data:image/png;base64,{{ qr_image_base64 }}';
      if (navigator.share) {
        navigator.share({
          title: 'QR Code',
          text: 'Check out this QR Code',
          url: dataUrl
        })
          .then(() => console.log('Shared successfully'))
          .catch((error) => console.log('Error sharing:', error));
      } else {
        const newWindow = window.open(dataUrl);
        if (!newWindow) {
          alert('Pop-up blocked. Please allow pop-ups for this website and try again.');
        }
      }
    }*/
  </script>
	</div>
  </body>
  </html>